* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background: url("https://cdn.imgchest.com/files/j7mmcr5k976.png");
  opacity: .5;
  background-repeat: no-repeat;
}

.container {
  max-width: 1400px;
  display: flex;
  flex-wrap: wrap;
}

.container > * {
  background-color: lightblue;
  font-size: 10rem;
  color: blue;
  border: 2px dashed blue;

  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 466.6667px;
}
